:root {
  --text: #f2eff5;
  --background: #0a070e;
  --primary: #784baf;
  --secondary: #46276d;
  --accent: #5c2e99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed;
  /* TODO */
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 998;
}
body {
  font-family: "Open Sans";
  background-color: var(--background);
  color: var(--text);
  transition: 0.3s;
  user-select: none;
}

header {
  background-color: var(--background);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#title {
  width: 80%;
  max-width: 400px;
  margin-right: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

nav label span {
  font-weight: 700;
}

.tab {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 40px;
}

.tab-cover {
  position: absolute;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  transition: 0.4s;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#reminders-tab {
  background-color: var(--primary);
}

.new-event-form {
  background-color: var(--background);
  width: clamp(300px, 80%, 500px);
  height: 345px;
  /* TODO */
  display: none;
  position: relative;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  user-select: contain;
}
#new-event {
  border: none;
}
#new-event > legend {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  border-bottom: 1px solid var(--secondary);
}
#new-event > label {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: -5px;
  font-weight: 600;
}
#new-event > label:last-of-type {
  margin-bottom: 0;
}
#new-event > label > input {
  width: 100%;
  height: 1.8rem;
  padding: 5px;
  margin-top: 5px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--text);
}

#new-event > label > input:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}
#new-event > .buttons-wrapper > button {
  width: 46%;
  height: 30px;
  padding: 5px;
  font-weight: 600;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 2px 20px 2px;
  border: 1px solid var(--secondary);
  color: var(--text);
}

#new-event > .buttons-wrapper > button:first-of-type {
  background-color: var(--secondary);
  transition: 0.3s;
}

#new-event > .buttons-wrapper > button:last-of-type {
  background-color: var(--background);
  transition: 0.3s;
}

#new-event > .buttons-wrapper > button:first-of-type:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--accent);
}

#new-event > .buttons-wrapper > button:last-of-type:hover {
  background-color: var(--accent);
}

#theme-icon {
  width: 30px;
  margin-right: 20px;
}

#switch-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 50px;
  text-wrap: nowrap;
  align-items: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
