:root {
  --text: #f2eff5;
  --background: #0a070e;
  --primary: #784baf;
  --secondary: #46276d;
  --accent: #5c2e99;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.overlay {
  position: fixed;
  /* TODO */
  display: none;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(2px);
  z-index: 998;
}
body {
  font-family: "Open Sans";
  background-color: var(--background);
  color: var(--text);
  transition: 0.3s;
  user-select: none;
}

header {
  background-color: var(--background);
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width:clamp(300px,30%,500px);
  margin: auto;
}

#title {
  width: 80%;
  max-width: 400px;
  margin-right: 10px;
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-between;
  gap: 2px;
}

nav label span {
  font-weight: 700;
}

.tab {
  position: relative;
  display: inline-block;
  width: 50%;
  height: 40px;
}

.tab-cover {
  position: absolute;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  transition: 0.4s;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

#reminders-tab {
  background-color: var(--primary);
}

.reminders{
  display: 'none';
}

.list-reminders {
  display: flex;
  flex-direction: column;
  width:300px;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
.list-reminders li{
  padding:20px;
  border-bottom: 1px solid var(--secondary);
  list-style-type: none;

}
.new-event-form {
  background-color: var(--background);
  width: clamp(300px, 80%, 500px);
  height: 345px;
  display: none;
  margin-top: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  user-select: contain;
  transition: .5s ease-in;
}
#new-event {
  border: none;
}
#new-event > legend {
  width: 100%;
  padding-bottom: 15px;
  text-align: center;
  font-weight: 500;
  font-size: 1.5em;
  border-bottom: 1px solid var(--secondary);
}
#new-event > label {
  display: block;
  width: 100%;
  padding: 10px;
  margin-bottom: -5px;
  font-weight: 600;
}
#new-event > label:last-of-type {
  margin-bottom: 0;
}
#new-event > label > input {
  width: 100%;
  height: 1.8rem;
  padding: 5px;
  margin-top: 5px;
  background-color: var(--secondary);
  border: none;
  border-radius: 10px;
  color: var(--text);
}

#new-event > label > input:focus {
  outline: none;
  border: 1px solid var(--accent);
}

.buttons-wrapper {
  display: flex;
  justify-content: center;
}
#new-event > .buttons-wrapper > button {
  width: 46%;
  height: 30px;
  padding: 5px;
  font-weight: 600;
  font-size: 1em;
  border-radius: 10px;
  cursor: pointer;
  margin: 10px 2px 20px 2px;
  border: 1px solid var(--secondary);
  color: var(--text);
}

#new-event > .buttons-wrapper > button:first-of-type {
  background-color: var(--secondary);
  transition: 0.3s;
}

#new-event > .buttons-wrapper > button:last-of-type {
  background-color: var(--background);
  transition: 0.3s;
}

#new-event > .buttons-wrapper > button:first-of-type:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--background);
}

#new-event > .buttons-wrapper > button:last-of-type:hover {
  background-color: var(--accent);
}

header > button{
  all:unset;
  cursor: pointer;
  background-color: transparent;
}
.add > svg {
  margin-top: 10px;
  fill: var(--text);
}

#theme-icon {
  width: 30px;
  margin-right: 20px;
}

#switch-wrapper {
  display: flex;
  flex-direction: column;
  width: 20%;
  min-width: 50px;
  text-wrap: nowrap;
  align-items: end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
  margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--secondary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: var(--primary);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--secondary);
}

input:checked + .slider:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.calendario {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 300px;
}
.calendar-header {
  display: flex;
  margin: 15px;
  width: 100%;
  justify-content: space-between;
  background-color: var(--secondary);
  border-radius: 50px;
}

.year-month {
  display: flex;
  width: 69%;
  justify-content: center;
  gap: 10px;
  align-items: center;
  font-weight: 600;
  font-size: large;
}

.calendar-header > button {
  all: unset;
  cursor: pointer;
  font-weight: 800;
  font-size: 30px;
  background-color: var(--primary);
  padding: 0 10px;
  border-radius: 50px;
}

/* .calendar-header > button:first-of-type::after {
  content: url(icon/left-arrow-white.svg);
  position: relative;
  margin-left: -2px;
}
.calendar-header > button:last-of-type::after {
  content: url(icon/right-arrow-white.svg);
  position: relative;
  margin-right: -2px;
} */

.calendar-header > button > svg {
  fill: var(--text);
  margin: 0 0 1px 0;
}

table {
  text-align: center;
  border-collapse: collapse;
}

th {
  padding: 5px;
}
th {
  background-color: var(--primary);
}
table th:first-of-type {
  border-top-left-radius: 40px;
  border-bottom-left-radius: 40px;
  padding-left: 8px;
  padding-right: 2px;
}
table th:last-of-type {
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  padding-right: 8px;
  padding-left: 1px;
}

td {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
  padding: 10px 5px 12px 5px;
  height: 60px;
  cursor: pointer;
  position: relative;
  opacity: 0.8;
  text-align: center;
  vertical-align: top;
  font-weight: 600;
  transition: 0.2s linear;
}
td:hover {
  opacity: 1;
  font-weight: 800;
}

td > svg {
  display: block;
  position: relative;
  margin: 0 auto 0 auto;
}
tr td:first-of-type {
  padding-right: 0px;
}
tr td:last-of-type {
  padding-left: 0px;
}

.event-preview {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  background-color: var(--background);
  width: clamp(300px, 50%, 500px);
  height: 245px;
  margin-top: 1000px;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  z-index: 999;
  padding: 10px;
  border-radius: 10px;
  border: 2px solid var(--secondary);
  user-select: contain;
  transition: .5s ease-in;
  display: none;
}

.event-preview > button:first-of-type {
  all: unset;
  position: absolute;
  right: 0;
  margin-right: 10px;
  cursor: pointer;
}
.event-preview > button > svg {
  fill: var(--text);
}
.event-preview > button:last-of-type {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0 10px 10px 0;
  padding: 10px;
  border-radius: 10px;
  border:1px solid var(--secondary);
  color: var(--text);
  background-color: var(--secondary);
  cursor: pointer;
  transition: .2s linear;
  font-weight: 600;
  font-size: 0.8em;
}

.event-preview > button:last-of-type:hover {
  background-color: var(--primary);
  border-color: var(--primary);
  color: var(--background)
}
.event-preview h1 {
  text-align: center;
  margin: 10px
}

.event-preview h1:first-of-type {
  margin-top: 30px;
}


